.todoElement {
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  gap: 12px;
  justify-content: center;
}

.todoElement img {
  margin-bottom: 5px;
  width: 32px;
  transition: transform 0.3s ease-in-out;
}

.todoElement img:hover {
  transform: scale(1.2);
}

.todoElement input {
  width: 400px;
  text-align: center;
  border: none;
  padding-top: 2px;
  height: 28px;
}

.todoElement input:focus-visible {
  border: none;
}

.todoElement input:focus {
  border: none;
}
